<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/base.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        <li class="logo">
          <a href="/">
            <img src="https://icon-library.com/images/trade-icon-transparent/trade-icon-transparent-7.jpg" width="55px">
          </a>
        </li>
        <li>
            <input type="checkbox" id="toggle" class="checkbox">
            <label for="toggle" class="switch">
                <div class="indicator"></div>
                <div class="circle"></div>
                <div class="slider"></div>
                <img src="https://static.thenounproject.com/png/4514193-200.png" class="lightmode-image">
                <img src="https://cdn-icons-png.flaticon.com/512/6714/6714978.png" class="darkmode-image">
            </label>
            <script>
              const root = document.documentElement;
              const savedColorScheme = localStorage.getItem("colorScheme");
              if (savedColorScheme === "dark") {
                  root.classList.add("dark-theme");
                  toggle.checked = true;
              } else {
                  root.classList.remove("dark-theme");
                  toggle.checked = false;
              }
            </script>
        </li>
        <li class="center-search">
          <form id="searchbar-form" class="search-form" action="#" method="get">
            <input id="search" type="search" name="search" placeholder="Search..." autocomplete="off">

            <div id="drop-down-suggestion">
            </div>
          </form>


        </li>
        <li>
          <a href="{{ url_for('new_product') }}">
            <img src="https://cdn3.iconfinder.com/data/icons/general-icons-set-2/32/add-512.png" class="header_icon" width="25px">
            <span>New AD</span>
          </a>
        </li>
        <li class="dropdown">
          <a href="{{ url_for('cart') }}">
            <img src="https://cdn-icons-png.flaticon.com/512/263/263142.png" class="header_icon" width="25px">
            <span>Cart</span>
          </a>
          <div class="dropdown-content">
            <div class="column">
              <div class="dropdown-box"><a href="{{ url_for('cart') }}">View Cart</a></div>
              <div class="dropdown-box"><a href="{{ url_for('checkout') }}">Checkout</a></div>
            </div>
          </div>
        </li>            
        <li class="dropdown">
          <div id="profile">
            {% if 'userid' in session and user %}
              <a href="{{ url_for('profile') }}">
            {% else %}
              <a href="{{ url_for('login') }}">
            {% endif %}
              <img src="https://pixlok.com/wp-content/uploads/2021/10/User-Profile-Icon-9mces.png" class="header_icon" width="25px">
              {% if 'userid' in session and user %}
                <span>{{ user.username }}</span>
              {% else %}
                <span>Profile</span>
              {% endif %}
            </a>          
          </div>
          <div class="dropdown-content">
            <div class="column">
              <div class="dropdown-box">
                {% if session %}
                    <a href="{{ url_for('logout') }}">Log out</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Log in</a>
                {% endif %}
              </div>
              <div class="dropdown-box">
                {% if 'userid' in session and user %}
                  <a href="{{ url_for('profile') }}">
                {% else %}
                  <a href="{{ url_for('login') }}">
                {% endif %}
                Profile</a>
              </div>
              {% if 'userid' in session and user %}
                <div class="dropdown-box"><a href="{{ url_for('order_history') }}">Order history</a></div>
              {% else %}
                <div class="dropdown-box"><a href="{{ url_for('login') }}">Order history</a></div>
              {% endif %}
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>      

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <h1>Footer</h1>
  </footer>

  <script src="{{ url_for('static', filename='JS/base.js') }}"></script>
</body>
</html>