{% extends 'base.html' %}

{% block title %}
    Cart - Hokeren
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/cart.css') }}">
    <script src="{{ url_for('static', filename='JS/cart.js') }}"></script>
{% endblock %}

{% block content %}
    {% if cart_items %}
    <h1>Your cart</h1>
    <table>
        <tr>
            <th>Item ID</th>
            <th>Quantity</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        {% for cart_item in cart_items %}
        <tr id="row-{{ cart_item.item_id }}">
            <td>{{ cart_item.item_id }}</td>
            <td>{{ cart_item.quantity }}</td>
            <td>{{ cart_item.title }}</td>
            <td>{{ cart_item.description }}</td>
            <td>${{ cart_item.price }}</td>
            <td><img src="{{ cart_item.path }}" width="100px"></td>
            <td class="del" data-item-id="{{ cart_item.item_id }}"><img src="https://cdn-icons-png.flaticon.com/512/1345/1345874.png" class="remove-icon"></td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <h3>Total amount: $<span id="total_price">{{ total_price }}</span></h3>
            </td>
        </tr>
    </table>
    
    <a href="{{ url_for('checkout') }}">
        <div class="button">Checkout</div>
    </a>

    {% else %}
        <h1>Cart is emty.</h1><br>
        <p class="user-info">Put item(s) in your cart to continue shopping.</p>

    {% endif %}

{% endblock %}
