{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/cart.css') }}">
{% endblock %}

{% block content %}

<h1>Checkout</h1>

{% if cart_items %}
<table>
    <tr>
        <th>Item ID</th>
        <th>Quantity</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    {% for purchase in cart_items %}
    <tr>
        <td>{{ purchase.item_id }}</td>
        <td>{{ purchase.quantity }}</td>
        <td>{{ purchase.title }}</td>
        <td>{{ purchase.description }}</td>
        <td>${{ purchase.price }}</td>
        <td><img src="{{ purchase.path }}" width="100px"></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<form action="/checkout" method="POST">
    <button type="submit">Purchase</button>
</form>

{% endblock %}