{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/cart.css') }}">
    <script src="{{ url_for('static', filename='JS/checkout.js') }}"></script>
{% endblock %}

{% block content %}

{% if cart_items %}

<h1>Checkout</h1>

<table>
    <tr>
        <th>Item ID</th>
        <th>Quantity</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    {% for purchase in cart_items %}
    <tr>
        <td>{{ purchase.item_id }}</td>
        <td>{{ purchase.quantity }}</td>
        <td>{{ purchase.title }}</td>
        <td>{{ purchase.description }}</td>
        <td>${{ purchase.price }}</td>
        <td><img src="{{ purchase.path }}" width="100px"></td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            <h3>Total amount: ${{ total_price }}</h3>
        </td>
    </tr>
</table>

<form action="/checkout" method="POST" onsubmit="handleSubmit(event)">
    <button class="button" id="purchaseBtn" type="submit">Purchase</button>
    <div class="success-msg" id="successMsg" style="display: none;">Purchase successful!</div>
</form>
{% else %}
    <h1>No items to pay for!</h1><br>
    <p class="user-info">Put item(s) in your cart to enter checkout.</p>
{% endif %}

{% endblock %}