{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">
{% endblock %}

{% block title %}
    Hokeren - the best place for selling and bying items
{% endblock %}

{% block content %}
    <div id="product-grid">
        {% for item in items %}
            <div class="product-box" onclick="location.href='/product/{{item[0]}}'">
                <img src="{{ item[2] }}" alt="{{ item[1] }}">
                <h3>{{ item[1] }}</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}