{% extends 'base.html' %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">
    <script src="{{ url_for('static', filename='JS/sort.js') }}"></script>
{% endblock %}

{% block title %}
    Hokeren - the best place for selling and bying items
{% endblock %}

{% block content %}
    {% if session %}
        <div id="sorting-options">
            <label for="sort-by">Sort by:</label>
            <select id="sort-by" onchange="sortItems(this.value)">
                <option value="default">All</option>
                <option value="owner">Yours</option>
            </select>
        </div>
    {% endif %}


    <div id="product-grid">
        {% for item in items %}
            <div class="product-box" onclick="location.href='/product/{{item[0]}}'">
                <img src="{{ item[2] }}" alt="{{ item[1] }}">
                <h3>{{ item[1] }}</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}