{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/new_product.css') }}">
{% endblock %}

{% block title %}
    New product
{% endblock %}

{% block content %}
    <form id="new_product_form" method="post" name="new_product_form" enctype="multipart/form-data">
        <div class="title_input">
            <h3>Title:</h3>
        </div>
        <input id="title_input" type="text" spellcheck="false" maxlength="22" name="title">
        <div id="title_error" hidden class="error"> Title too long! </div>
            <h3>Description:</h3>
        </div>
        <span id="description_input" role="textbox" maxlength="500" name="description" contenteditable spellcheck="false"></span>
        <div id="description_error"  class="error"> Description too long! </div>
        <div class="price_input">
            <h3>Price in $:</h3>
        </div>
        <input id="price_input" type="number" name="price" autocomplete="off">
        <div id="image_input_box">
            <div id="upload_button">
                <label for="image_upload" class="upload_button_text">Add image</label>
                <input id="image_upload" data-image-input type="file" name="image" accept="image/*" 
                oninput="add_image_preview(event)" multiple>
            </div>
        </div>
        <div id="image_preview">
            <h3>Image preview:</h3>
            <div id="image_preview_container">
            </div>
        </div>
        <div class="submit_button">
            <input id="submit_button" class="submit_button_container" disabled type="submit" value="Upload">
        </div>
        <div class="submit_info" id="submit_info">
            Please include a title and price before submitting
        </div>
    </form>
    <script src="{{ url_for('static', filename='JS/new_product.js') }}"></script>
{% endblock %}