{% extends 'base.html' %}

{% block title %}
    {{ user.username }}'s Orders
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/order_history.css') }}">
    <script src="{{ url_for('static', filename='JS/order_history.js') }}"></script>
{% endblock %}

{% block content %}
    <h2>{{ user.username }}'s order history</h2>

    <div class="search-bar">
        <form class="order-search">
          <input id="search-input" type="text" placeholder="Search for your orders">
        </form>
    </div>
      
    <div class="order-table" id="order-table">
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Total Amount</th>
                    <th>Title</th>
                    <!--<th>Description</th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.product_id }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>${{ order.total_amount }}</td>
                    <td>{{ order.title }}</td>
                    <!--<td>{{ order.description }}</td>-->
                    <td><img src="{{ order.path }}" alt="Product Image" width="100"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}