{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/product.css') }}">
    <script src="{{ url_for('static', filename='JS/product.js') }}"></script>
{% endblock %}

{% block title %}
    {{ item.title }}
{% endblock %}

{% block content %}

<div class="content-box">
<div id="slide-box-box">
<div id="slide-box">
    {% for image in images %}
        <img class="image-slide" src="{{ image }}">
    {% endfor %}
    {% if images|length > 1 %}
        <div id="image-number">1/{{ images|length }}</div>
        <button id="back-button" onclick="image_slide_change(-1, 1)">&#8592</button>
        <button id="forward-button" onclick="image_slide_change(1, 1)">&#8594</button>
    {% endif %}
</div>
</div>

<div id="title-box">
    <h1 id="title">{{ item.title }}</h1>
</div>
<div id="description-box">
    <p id="description">{{ item.description }}</p>
</div>
<h2 id="price">{{ item.price }},-</h2>

{% if session %}
    <form id="cart-form">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" value="1" min="1" max="100">
        <input type="hidden" name="product_id" value="{{ item.item_id }}">
        <button type="submit" class="add_to_cart">Add to Cart</button>
        <div id="response-message"></div>
        <div id="loading"><img src="" width="25px"></div>
    </form>
{% endif %}
</div>
{% endblock %}