{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/settings.css') }}">
    <script src="{{ url_for('static', filename='JS/settings.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="slider">
        <input type="checkbox" id="toggle" class="checkbox">
        <label for="toggle" class="switch">
            <div class="indicator"></div>
            <div class="circle"></div>
            <img src="https://static.thenounproject.com/png/4514193-200.png" class="lightmode-image">
            <img src="https://cdn-icons-png.flaticon.com/512/6714/6714978.png" class="darkmode-image">
        </label>
    </div>
    <h1>TEST</h1>
{% endblock %}
