{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/settings.css') }}">
    <script src="{{ url_for('static', filename='JS/settings.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="slider">
        <input type="checkbox" id="toggle" class="checkbox">
        <label for="toggle" class="switch">
            <div class="indicator"></div>
            <div class="circle"></div>
            <img src="https://24.media.tumblr.com/c00934627bf9f409cc328063ec120416/tumblr_mjz98qXmns1s5jjtzo1_500.gif" class="lightmode-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Moon_rotating_full_220px.gif" class="darkmode-image">
        </label>
    </div>
    <h1>TEST</h1>
{% endblock %}
