* {
	font-family: Arial,Helvetica,sans-serif;
}

:root {
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
}
  
:root.dark-theme {
    --background-color: rgb(0, 0, 0);
    --text-color: rgb(255, 255, 255);
}

html {
	background-color: var(--background-color);
	color: var(--text-color);
}

main {
	height: 650px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px; 
    background-color: rgba(186, 186, 186, 0.292);
    backdrop-filter: blur(10px);
    justify-content: center; 
    align-items: center;
}

body {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.auth-form {
    width: 400px;
    margin: 30px auto;
    background-color: rgba(186, 186, 186, 0.292);
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    padding: 40px;
}
  
.form-control {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--background-color);
	color: var(--text-color);
    font-size: 16px;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    transition: border-color 0.1s ease-in-out;

}
  
.form-control:focus {
    border-radius: 50px;
    border-color:#52F3F6;
}

.btn-primary:disabled {
    background-color: #b3b3b3;
    cursor: default;
}
  
.btn-primary {
    background-color: rgb(246,85,82);
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
  
.btn-primary:not(:disabled):hover {
    background-color: #52F3F6;
    color: #fff;
    cursor: pointer;
}
  
.auth-link {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}
  
.auth-link a {
    color: #007bff;
    text-decoration: none;
}
  
.auth-link a:hover {
    text-decoration: underline;
}

footer {
	display: flex;
	position:fixed;
	bottom: 0;
	background-color: rgba(73, 73, 73, 0.292);
	z-index: 1;
	width: 100%;
	height: 75px;
	justify-content: space-around;
	align-items: center;
}

.error {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

.success {
    color: rgb(0, 255, 0);
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

#username {
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 20px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}