body {
	padding-top: 40px;
	margin: 0;
	padding-bottom: 0;
}

header {
	display: flex;
	position: fixed;
	top: 0;
	background-color:#2C292C;
	z-index: 1;
}

footer {
	position: static;
	bottom: 0;
	background-color: #2C292C;
	z-index: 1;
	width: 100%;
	height: 75px;
}

main {
	height: 2000px;
}


nav {
	position: fixed;
	background-color: #2C292C;
	width: 100%;
}

nav ul {
	list-style-type: none;
	display: flex;
	float: right;
	align-items: center;
	padding-right: 5%;
	padding-left: 5%;
	width: 90%;
}

nav li {
	margin-right: 15px;
}

nav .side_menu_button {
	margin-right: auto;
	margin-left: 0;
	
}
.side_menu_button:hover {
	cursor: pointer;
}

#side_menu {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #2C292C;
	z-index: 2;
	transition: 0.5s;
	padding-top: 50px;
	padding-left: 30px;
}

.search-form {
	display: flex;
	align-items: center;
	margin-left: 491px;
	margin-top: 9px;
	z-index: 2; 
	position: relative; 
  }
  
  .search-form input[type="search"] {
	padding: 10px 10px 10px 30px; /* Add padding on the left to make space for the image */
	border: none;
	border-radius: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	outline: none;
	width: 300px;
	background-image: url('https://static.vecteezy.com/system/resources/previews/013/475/447/original/search-magnifying-glass-icon-png.png'); 
	background-repeat: no-repeat; /* Prevent the image from repeating */
	background-position: 5px center; /* Position the image on the left side, vertically centered */
	background-size: 20px; /* Set the width of the image */
	transition: background-color 0.2s ease-in-out;
}
.search-form input[type="search"]:focus {
	background-color: #52F3F6; /* Set the background color for the input field when it is in focus */
  }
  
  