h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    border-bottom: 1px solid rgb(246,85,82);
}

td {
    border-bottom: 1px solid #52F3F6;
}

.del {
    padding: 0;
    cursor: pointer;
}

img {
    max-width: 100px;
    max-height: 100px;
}

a {
    text-decoration: none;
}

.button {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
    background-color: rgb(246, 85, 82);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.button:hover {
    background-color: #52f3f6;
}
  
.remove-icon {
    width: 25px;
}

.user-info {
    display: flex;
    justify-content: center;
}

.success-msg {
    color: rgb(0, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
