.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup button {
    margin: 10px 0 0 5px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgb(246,85,82);
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    cursor: pointer;
}

.popup button:hover {
    background-color: #52F3F6;
}