#new_product_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

input {
	width: 120px;
}

#title_input {
	width: 150px;
	font-weight: bold;
}

#description_input {
	display: block;
	width: 350px;
	border: 1px solid black;
	background-color: white;
	color: black;
	outline: none;
	overflow: hidden;
	resize: vertical;
	min-height: 40px;
	line-height: 20px;
	user-select: none;
}

.image_preview_image {
	display: block;
	margin: auto;
	object-fit: cover;
	height: 200px;
	max-width: 200px;
}

#image_preview_container {
	display: flex;
	flex-wrap: wrap;	
	justify-content: center;
}

.image_preview_image_container {
	margin: 5px;
	position: relative;
	height: 220px;
	width: 200px;
}

.remove {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	border: none;
	padding: 5px;
	cursor: pointer;
  }
  
.remove span {
	font-size: 20px;
  }

#image_input_box {
	margin-top: 30px;
}

#upload_button {
  position: relative;
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
  cursor: pointer;
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
}

#upload_button:hover {
	border-width: 1px;
	border-color: rgb(246,85,82);
}

.upload_button_text {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.upload_button_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

#image_upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.arrows {
	display: flex;
	position: absolute;
	width: 180px;
	bottom: 0;
	left: 0;
	padding-right: 10px;
	padding-left: 10px;
	justify-content: space-between;;	
}

.arrow {
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 16px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: var(--background-color);
	cursor: pointer;
	color: var(--text-color);
	font-weight: bold;
	text-decoration: none;
}

.arrow:hover {
	border-width: 1px;
	border-color: rgb(246,85,82);
}
  
.up {
	margin-right: 5px;
}
  
.down {
	margin-left: 5px;
}

.submit_button_container {
	position: relative;
	display: inline-block;
	margin-top: 30px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: var(--background-color);
	color: var(--text-color);
	font-weight: bold;
	text-decoration: none;
}

.enabled:hover {
	border-width: 1px;
	border-color: rgb(246,85,82);

	cursor: pointer;
}

.error {
	display: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

#submit_info {
	display: block;
	padding: 10px;
}