h2 {
    display: flex;
    justify-content: center;
}

.order-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #52F3F6;
}

th {
    border-bottom: 1px solid rgb(246,85,82);
}

td img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.order-search {
    display: flex;
    align-items: center;
    position: relative;
}

.order-search input[type="text"] {
    padding: 10px 25px 10px 10px;
    width: 300px;
    border: 1px solid rgb(246, 85, 82);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.1s ease-in-out;
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.order-search input[type="text"]:focus {
    border-color: #52F3F6;
}