.profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.profile-content {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: rgb(246,85,82);
}

.profile-header h1 {
    font-size: 24px;
    margin: 0;
}

.profile-header p {
    font-size: 16px;
    color: #888;
    margin: 5px 0;
}

.edit-button,
.delete-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(246,85,82);
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #52F3F6;
    cursor: pointer;
}

.info-section {
    border: 1px solid rgb(246,85,82);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.info-section h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.info-section p {
    margin: 0;
}

.transaction-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
}

.transaction-table h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.transaction-table table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
    padding: 10px;
    text-align: center;
}

.transaction-table th {
    border-bottom: 1px solid rgb(246,85,82);
}

.transaction-table td {
    vertical-align: middle;
    border-bottom: 1px solid #52F3F6;
}

.delete-button {
    margin-top: 20px;
    float: left;
}

input {
	padding: 5px; 
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    background-color: #888;
    color: var(--text-color);
	font-size: 16px;
	outline: none;
	width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
}

input:focus {
	border: 1px solid #52F3F6; 
    background-color: var(--background-color);
    color: var(--text-color);
}