:root {
    --background-color: rgb(255, 255, 255); 
    --text-color: rgb(0, 0, 0); 
    --background-color-dark: rgb(0, 0, 0);
    --text-color-dark: rgb(255, 255, 255);
    --background-color-light: rgb(255, 255, 255); 
    --text-color-light: rgb(0, 0, 0);
}

h1 {
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
}

.slider {
    position: relative;
    width: 60px;
    height: 30px;
}

.switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.darkmode-image,
.lightmode-image {
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.darkmode-image {
    right: 0;
    opacity: 0;
}

.lightmode-image {
    left: 0;
    opacity: 1;
}

.circle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #52F3F6;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease; /* Added opacity transition */
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox:checked + .switch {
    background-color: #444040;
}

.checkbox:checked + .switch .circle {
    transform: translateX(30px);
}

.checkbox:checked + .switch .darkmode-image {
    opacity: 1;
}

.checkbox:checked + .switch .lightmode-image {
    opacity: 0;
}
